/* ========== BASE ========== */
button,
input{
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  // margin: var(--header-height) 0 0 0;
  background-color: var(--body-color);
  color: var(--text-color);
}
h1,h2,h3,h4{
  color: var(--title-color);
  font-weight: var(--font-medium);  
  margin: 0;
}





button{
  cursor: pointer;
  border: none;
  outline: none;
}
