// ? Font
@import "font/font";

// ? Root
@import "root/root";

// ? Html
@import "html/html";

// ? Body
@import "body/body";

// ? Scrollbar
@import "scrollbar/scrollbar";

// ? Image
@import "image/image";

// ? A [ Link ]
@import "a/a";

// ? UL [ Li ]
@import "ul/ul";

// ? UL [ Li ]
@import "header/header";

.explain_style {
  font-size: clamp(12px, 4vw, 32px);
  margin-top: 4rem;
  margin-left: 7rem;
}

body {
  min-height: 1000px;
}
