
header(class="header" id="header") 
  nav(class="nav") 
    div(class='nav_wrapper')
      div(class='nav_container container')
        div(class='nav_inner')
          // Nav Header
          div(class='nav_header')
            a(href="#" class="nav_logo")
              i(class="fas fa-bars nav_logo_icon")
              img(src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png"
              class="img-fluid rounded-top nav_logo_image"
              alt="")
              span(class="nav_logo_text") foodbar
          // Nav Main
          div(class='nav_main')
            div(class='nav_menu' id="nav_menu")
              ul(class="nav_list")
                li(class="nav_item")
                  a(href="#" class="nav_link nav_active") 
                    span(class="nav_link_icon") 
                      i(class="fas fa-home")
                    span(class="nav_link_text") Home
                li(class="nav_item")
                  a(href="#" class="nav_link")  
                    span(class="nav_link_icon") 
                      i(class="fas fa-folder")
                    span(class="nav_link_text") Project
                li(class="nav_item")
                  a(href="#" class="nav_link")  
                    span(class="nav_link_icon") 
                      i(class="fas fa-tachometer-alt")
                    span(class="nav_link_text") Dashboard
                li(class="nav_item")
                  a(href="#" class="nav_link")  
                    span(class="nav_link_icon") 
                      i(class="fas fa-tasks")
                    span(class="nav_link_text") Tasks

          // Nav Footer
          div( class="nav_footer")
            div(class='nav_user' id="nav_user")
              span(class="user_icon")
                i(class="fas fa-shopping-cart")
              span(class="user_image")
                img(src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="") 
              div(class="user_details")
                p(class="user_name") Hossam Rashad 
              p(class="user_email") learncodeingeasy@yahoo.com
            div(class='nav_toggle' id="nav_toggle")
              i(class="fas fa-bars nav_toggle_icon")