
header(class="header" id="header") 
  nav(class="nav") 
    div(class='nav_wrapper')
      div(class='nav_container container')
        div(class='nav_inner')
          a(href="#" class="nav_logo")
            i(class="fas fa-bars nav_logo_icon")
            span(class="nav_logo_text") foodbar
          div(class='nav_menu' id="nav_menu")
            ul(class="nav_list")
              li(class="nav_item")
                a(href="#" class="nav_link nav_active") shop
              li(class="nav_item")
                a(href="#" class="nav_link") Features
              li(class="nav_item")
                a(href="#" class="nav_link") Recipes
              li(class="nav_item")
                a(href="#" class="nav_link") Hotline
          div(class='nav_user' id="nav_user")
            span(class="user_icon")
              i(class="fas fa-shopping-cart")

            span(class="user_image")
              img(src="images/avataaars.webp" alt="") 
          div(class='nav_toggle' id="nav_toggle")
            i(class="fas fa-bars nav_toggle_icon")