// = Font Awesome V5.15.4 [https://fontawesome.com/] 
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")

link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")



// Css Style
link(rel="stylesheet" href="css/style.css") 